<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>Guest allowed:</b>
  <%= @person.guest_allowed %>
</p>

<p>
  <b>Is guest:</b>
  <%= @person.is_guest %>
</p>

<p>
  <b>Guest person:</b>
  <%= @person.guest_person_id %>
</p>

<p>
  <b>Party:</b>
  <%= @person.party_id %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
