<div class="row-fluid">
	<div class="span12">
		<h1>RSVP <%= image_tag "dark_hearts.png", :class => 'page-title-heart' %></h1>
	</div>
</div>

<hr/>

<%= render "shared/flash_container" %>

<%= form_tag("/rsvp/search", :method => "post") do %>
	<%= label_tag(:last_name, "Last Name:") %>
	<%= text_field_tag(:last_name) %>
	
	<%= label_tag(:password, "Password:") %>
	<%= password_field_tag(:password) %>
	<br />
	<%= submit_tag("Search", :class => "btn") %>
<% end %>