<div class="row-fluid">
  <div class="span2">
    <%= image_tag "dark_hearts.png", :class => "visible-desktop visible-tablet" %>
    <%= image_tag "dark_hearts.png", :class => "page-title-heart visible-phone", :style => "padding-bottom:15px; display: block; margin-left: auto; margin-right: auto;" %>
  </div>
  <div class="span8">
    <div class="well pagination-centered">
      <h1><%=t :tommy_and_sarah %></h1>
      <h3>April 6, 2013 - <%= @daysToGo %> <%=t :days_to_go %></h3>
      
      <div class="row-fluid">
        <div id="mainCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <img src="http://farm9.staticflickr.com/8310/7978310927_194413b82f_z.jpg" style="display:inline-block;float:none;"/>
            </div>
            <div class="item">
              <img src="http://farm9.staticflickr.com/8181/8012542345_1df960b152_z.jpg" style="display:inline-block;float:none;"/>
            </div>
            <div class="item">
              <img src="http://farm9.staticflickr.com/8317/8019568911_f4c226f9dd_z.jpg" style="display:inline-block;float:none;"/>
            </div>
            <div class="item">
              <img src="http://farm9.staticflickr.com/8178/8021944028_d77620101c_z.jpg" style="display:inline-block;float:none;"/>
            </div>
            <div class="item">
              <img src="http://farm9.staticflickr.com/8182/8025102142_cb030cfb5c_z.jpg" style="display:inline-block;float:none;"/>
            </div>
            <div class="item">
              <img src="http://farm9.staticflickr.com/8301/8019576091_d9c6326edf_z.jpg" style="display:inline-block;float:none;"/>
            </div>
            <div class="item">
              <img src="http://farm9.staticflickr.com/8038/8021943642_b5a9f43fa6_z.jpg" style="display:inline-block;float:none;"/>
            </div>
            <div class="item">
              <img src="http://farm9.staticflickr.com/8031/8012545141_9f52a7ee25_z.jpg" style="display:inline-block;float:none;"/>
            </div>
            <div class="item">
              <img src="http://farm9.staticflickr.com/8181/8021945850_7004a6be4e_z.jpg" style="display:inline-block;float:none;"/>
            </div>
          </div>
        </div>
        
      </div>  
    </div>
  </div>
  <div class="span2">
    <%= image_tag "dark_hearts.png", :class => "visible-desktop visible-tablet" %>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#mainCarousel').carousel();
});
</script>