<p id="notice"><%= notice %></p>

<p>
  <b>Attending:</b>
  <%= @response.attending %>
</p>

<p>
  <b>Meal:</b>
  <%= @response.meal %>
</p>

<p>
  <b>Meal notes:</b>
  <%= @response.meal_notes %>
</p>

<p>
  <b>Person:</b>
  <%= @response.person_id %>
</p>


<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
