<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=t :tommy_and_sarah %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="tom,arra,tomarra,sarah,cervak,sarahcervak,tommyandsarah,tommy,tommyandsarahwedding" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <div style="padding-top:60px;" class="visible-desktop"></div>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
  <%= render 'layouts/googleAnalytics' if ENV['HEROKU_ENV'] == 'production' %>
</body>
</html>
